<div class="row">

  <div class="col-sm-12">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>
            <button type="button" name="btn-delete" class="btn btn-sm btn-danger" ng-click="deleteUser(user)">Delete</button>
            <button type="button" name="btn-edit" class="btn btn-sm btn-primary" ui-sref="about">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div><!-- .col-sm-12 -->

</div><!-- .row -->
