<div class="row">

  <div class="col-sm-12">

  <form class="form-vertical" action="#">

    <div class="form-group">
      <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="User Name">
    </div>

    <div class="form-group">
      <input type="password" autocomplete="false" name="password" class="form-control" ng-model="user.password" placeholder="Password">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="isActive" ng-model="user.isActive">
         Is Active ?
      </label>
    </div>

    <div class="form-group pull-right">
      <input type="button" class="btn btn-success" value="Create" ng-hide="user.id" ng-click="createUser()" />
      <input type="button" class="btn btn-primary" value="Save" ng-show="user.id" ng-click="updateUser()" />
    </div>

  </form>

  </div><!-- .col-sm-12 -->

</div><!-- .row -->
