<div class="row">

  <div class="col-sm-12">

  <form class="form-vertical" action="#">

    <div class="form-group">
      <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="User Name">
    </div>
    <div class="form-group">
      <input type="password" autocomplete="false" name="password" class="form-control" ng-model="user.password" placeholder="Password">
    </div>
    <div class="form-group pull-right">
      <button type="button" name="btn-create" class="btn btn-lg btn-success" ng-click="createUser()">Create a User</button>
    </div>

  </form>

  </div><!-- .col-sm-12 -->

</div><!-- .row -->
