<div class="row">

  <div class="col-sm-12">

  <form class="form-vertical" ng-submit="createUser()">

    <div class="form-group">
      <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="User Name">
    </div>
    <div class="form-group">
      <input type="password" autocomplete="false" name="password" class="form-control" ng-model="user.password" placeholder="Password">
    </div>
    <div class="form-group pull-right">
      <input type="submit" class="btn btn-lg btn-success" value="Create a User" />
    </div>

  </form>

  </div><!-- .col-sm-12 -->

</div><!-- .row -->
